:root {
    --dark-color: #fff;
}

/*GLOBALES*/
.margin-bottom-lg {
    margin-bottom: 100px;
}

.margin-top-sm {
    margin-top: 60px;
}

.margin-top-lg {
    margin-top: 120px;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.text-small {
    font-size: 13px;
}

li {
    list-style: none;
}

.mx-100vw {
    max-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(https://i.pinimg.com/originals/53/69/1e/53691e9a0398a77744f8f014d933d352.jpg);
    background-size: cover;
    height: 55vh;
    background-repeat: round;
}

.btn-group__category {
    position: relative;
    line-height: 28px;
}  

.navbar {
    background: rgba(0, 0, 0, 0);
}

.title-header {
    text-align: center;
    position: absolute;
    top: 22%;
    margin: 0 auto;
}

#search {
    display: flex; 
}

/*Estilos a los logos font */

.fa-shopping-cart {
    color: white;
}

.fa-trash-o {
    font-size: 35px;
    color: red;
}

/*Estilos busueda de productos de la barra de navegacion*/

.results-search {
    width: 75%;
    height: auto;
    background: white;
    position: absolute;
    top: 38px;
    display: flex;
    flex-flow: column wrap;
    z-index: 10;
}

.results-search__item {
    color: black;
    text-decoration: unset;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.results-search__item:hover {
    background: #ddd;
}
/* Estilos de productos */

.product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 50px;
}

.product__item {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 1.5%;
    margin-top: 35px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

.product__img {
    width: 70%;
    height: 55%;
    overflow: hidden;
}

.product__img img {
    width: 100%;
    height: 100%;
}

.product__item span {
    font-weight: bold;
    margin-top: 15px;
}

.product__price {
    font-style: oblique;
}



/* EFECTOS HOVER DE LOS ITEM PRDUCT*/
.product__effect:hover {
    transition: all 1s;
    filter: opacity(.6);
    text-decoration: none;
    color: black;
}

/*Estilos login */
.row {
    margin-top: 120px;
}

.form-login {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

/*DROP DOWN ITEM */
.dropdown-item:active {
    background-color: #007bff;
}

/*DETAILS PRODUCT */

.details {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 130px;
}

.details__title {
    text-align: center;
}

.details__name {
    font-size: 40px;
}

.details__price {
    font-size: 30px;
}

.details__send {
    width: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.details__send__title {
    font-size: 25px;
}

.details__add-to-car {
    background: #e83e8c;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 30px;
    width: 100%;
    border: none;
}

.details__add-to-car:hover {
    background: #E30D6F;
}

/*Estilos de mi carrito de compras*/

.myCar {
    width: 65%;
    height: auto;
}

.myCar__details {
    width: 65%;
}

.myCar__resumen-order{
    width: 31%;
    border: 1px solid rgba(0,0,0,.1);
    max-height: 350px;
}

.myCar__resumen-order__sumary {
    font-size: 20px;
    height: 85%;
}

.size-big {
    font-size: 30px;
}

.myCar_image-product {
    width: 35%;
    height: 170px;
}

/* Navegacion de pedidos, respecto a su metodo de pago*/

.category-active {
    border-bottom: 4px solid #007bff;
}


/*Pedidos */

.my-order {
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.my-order__img {
    width: 140px;
    height: 30%;
}


/*  MEDIA QUERYS */

@media (max-width: 768px){
    .product {
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
    }
    .product__item {
        width: 80%;
    }

    .product__img {
        width: 70%;
        height: 45%;
    }

    .details__title {
        font-size: 30px;
    }

    #search {
        width: 50%;
    }

    .container-search {
        width: 40%;
    }

    .bottom-fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .size {
        font-size: 20px;
    }

    .myCar__resumen-order {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .myCar {
        width: 100%;
        height: auto;
    }

    .myCar_image-product {
        min-width: 135px;
        height: 140px;
    }

    .proccess_buy {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .container-form {
        width: 100%;
    }

    .w-sm-70 {
        width: 70%;
    }

    .my-order__img {
        width: 80px;
        height: 20%;
    }

    .my-order {
        width: 100%;
    }

    .swal2-popup {
        font-size: 11px !important;
    }
}

@media (min-width: 769px ) and (max-width: 991px){
    .product__item {
        width: 31%;
    }
    .product__img {
        width: 70%;
        height: 50%;
    }

    .details__title {
        font-size: 35px;
    }

    .details__name {
        font-size: 32px;
        margin-top: 15px;
    } 

    .myCar__resumen-order__sumary {
        font-size: 16px;
    }

    .myCar_image-product {
        width: 40%;
        height: 130px;
    }
    .container-form {
        width: 100%;
    }
    .myCar__resumen-order {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .my-order {
        width: 70%;
    }
}

